@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827; /* gray-900 */
  --foreground: #f3f4f6; /* gray-100 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}
